@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "sans-serif";
}

button {
  cursor: pointer;
}

body {
  background-color: #1d2630;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d2630;
  background-image: url(./assets/movies-dark.jpeg);
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 48px;
}

.nav__container {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 64px;
  height: 64px;
}

.logo__text {
  font-size: 24px;
  letter-spacing: 1px;
  margin-left: 8px;
  color: #ed1c24;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin-left: 48px;
  font-size: 20px;
  color: #fff;
}

.nav__link--contact {
  background-color: #ed1c24;
  color: white;
  font-weight: 700;
  border-radius: 50px;
  letter-spacing: 1px;
  padding: 12px 32px;
  text-transform: uppercase;
  font-size: 14px;
}

.red {
  color: #ed1c24;
}

.white {
  color: #ffff;
}

/* 


BTN MENU 


*/

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #ed1c24;
  display: none;
  cursor: pointer;
}

.menu__backdrop {
  position: fixed;
  background-color: #ffffff;
  border: #e4e8ec solid;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 24px 16px;
  padding: 36px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 50vh;
  overflow: scroll;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  margin: 8px 0;
  padding-bottom: 4px;
  list-style-type: none;
}

.menu__link {
  font-size: 18px;
  color: #1a202c;
  font-weight: 500;
  letter-spacing: 0.4px;
  transition: 800ms ease;
}

.menu__link--purple:hover {
  color: #5d3eff;
  text-decoration: underline 2px #5d3eff;
  text-underline-offset: 8px;
  transition: 300ms ease;
}
.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  font-size: 28px;
  color: #a0aec0;
}

/* 

NAV SEARCH SECTIOM

*/

.search__section {
  background-image: url(./assets/My\project\\(5\).jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 340px;
}

.logo__wrapper--films-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.search__title {
  font-size: 45px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  font-weight: 100;
  text-align: justify;
}

.search__bar--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

/* 

LANDING

*/

.section__title {
  font-size: 48px;
  margin-bottom: 30px;
  text-align: center;
  color: #ffff;
  font-weight: 700;
  line-height: 1.25;
}

.section__sub-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  color: aliceblue;
}

.search__bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.search__btn {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 12px 20px;
  margin-left: 20px;
  width: 108px;
  border-radius: 20px;
  font-size: 28px;
  background-color: #ed1c24;
  color: white;
  border: none;
  cursor: pointer;
}

.fa-arrow-down {
  font-size: 80px;
  color: #fff;
  margin-right: 100px;
  margin-top: 40px;
  animation: downUp 800ms infinite alternate-reverse;
}

@keyframes downUp {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

/*  SEARCH 

   BUTTON 

   OVERLAY 
   
   */

.overlay {
  display: flex;
  justify-content: center;
  align-content: center;
}

.button__overlay--loading {
  font-size: 28px;
  pointer-events: none;
  color: #fff;
}

/* .overlay--visible {
  z-index: 1;
  display: flex;
} */

.fa-spinner {
  display: block;
  animation: spinner 1000ms infinite linear;
  color: #fff;
  transition: opacity 2s, visibility 2s;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

i {
  width: 40px;
}

input {
  height: 56px;
  width: 38%;
  padding: 0 15px;
  border-radius: 20px;
  border: 2px solid #0a1f44;
  color: #0a1f44;
  line-height: 40px;
  padding-left: 25px;
  font-size: 20px;
  outline: none;
}

input:hover {
  --tw-border-opacity: 1;
  border-color: #ed1c24;
}

.img__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img--popcorn {
  margin-top: 48px;
  margin-right: 24px;
  width: 40%;
  height: 40%;
}

/* input:focus {
    --tw-border-opacity: 2;
    border-color: rgb(100 21 255 / var(--tw-border-opacity));
    outline: transparent rgb(160 174 192 / var(--tw-border-opacity)) solid 2px;
    outline-offset: 2px;
  } */

/* 
  
  FILMS 
  
  LANDING 
  
  SECTION 
  
  */

.movie-list {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.movie {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  margin-bottom: 24px;
}

.title__wrapper {
  color: #ffff;
}

.poster__wrapper {
  width: 50%;
}

.move-card__container {
  display: flex;
  flex-direction: column;
}

.title__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(-30%);
  transition: opacity 300ms, transform 450ms ease;
}

.movie:hover .title__wrapper {
  opacity: 0.7;
  transform: translateY(20%);
}

.movie__loading {
  display: none;
}

@media (max-width: 1015px) {
  .movie {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .section__title {
    font-size: 32px;
  }
  .section__sub-title {
    font-size: 24px;
  }
}

@media (max-width: 695px) {
  .nav__link--list {
    display: none;
  }
  .btn__menu {
    display: block;
  }
  .movie {
    width: 100%;
  }
  .movie__loading {
    display: none;
  }

  .movie-card {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .move-card__container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  .title__wrapper {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .search__btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 80px;
    z-index: 100;
  }
  .search__bar {
    position: relative;
    width: 100%;
  }
  #movie-search-box {
    width: 100%;
  }
  .fa-arrow-down {
    margin-top: 96px;
    margin-left: 92px;
  }
  /* .overlay {
    position: relative;
    left: 16px;
    top: 0;
  } */
}

@media (max-width: 350px) {
  .section__title {
    font-size: 20px;
    text-align: center;
  }
  .section__sub-title {
    font-size: 16px;
  }
}
